//Overrides for Canvas
#footer {
  position: relative;
  background-color: #14718A;
  border-top: none;
}



a.si-facebook {
  display: inline-block;
  float: right;
  @media (max-width: $width-md) {
    float: none;
  }
}

.icon-facebook {
  font-size: 25px;
  width: 37px;
  text-align: center;
  border-radius: 8px;
  @media (max-width: $width-sm) {
    float: none;
    margin-right: auto;
  }
}

a.si-twitter {
  display: inline-block;
  float: right;
  @media (max-width: $width-md) {
    float: none;
  }
}

.icon-twitter {
  font-size: 25px;
  width: 37px;
  text-align: center;
  border-radius: 8px;
  float: right;
  @media (max-width: $width-sm) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

a.si-youtube {
  display: inline-block;
  float: right;
  @media (max-width: $width-md) {
    float: none;
  }
}

.icon-youtube {
  font-size: 25px;
  width: 37px;
  text-align: center;
  border-radius: 8px;
  float: right;
  @media (max-width: $width-sm) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}