body {
  color: #51504E;
}

.c-white,
a.c-white {
  color: #ffffff !important;
}

.c {

  &-gold {
    color: #F4E82E !important;
  }
  &-shadowed {
    text-shadow: 2px 2px 5px #000;
  }
  &-blue {
    color: #5A72A5 !important;
  }
  &-blue-2 {
    color: #4d6197 !important;
  }
  &-green {
    color: #749D86 !important;
  }
  &-orange {
    color: #ffa30d !important;
  }
  &-light-orange {
    color: #e3b15b !important;
  }
  &-dark-orange {
    color: #dba349 !important;
  }
  &-grey {
    color: #82807d !important;
  }
  &-black {
    color: #000000 !important;
  }
  &-yellow {
    color: #fff348 !important;
  }
}

.bg {
  &-light-blue {
    background-color: #e8f8ff;
  }
  &-services {
    background-color: #fffcf5;
  }
}
